# pr-read permission for Bitbucket
BITBUCKET_APP_PASSWORD=<BITBUCKET_APP_PASSWORD>
BITBUCKET_USERNAME=<BITBUCKET_EMAIL>
BITBUCKET_WORKSPACE=<BITBUCKET_WORKSPACE>
BITBUCKET_REPO_SLUG=<BITBUCKET_REPO_SLUG>

# PR read-write, Contents read for reading branches
GITHUB_TOKEN=<GITHUB_APP_TOKEN>
GITHUB_OWNER=<GITHUB_OWNER>
GITHUB_REPO=<REPO_NAME>
